:host {
  --main-area-background: white;
  --header-background: white;
  --date-view-main-area-padding: 2px;
  --header-padding: 0.5em;
  --main-area-padding: 0.3em;
  --datepicker-border-radius: 8px;
  --datepicker-box-shadow: none;
  --datepicker-border: none;
  --theme-color: hsl(265, 100%, 47%);
  --header-font-color: hsla(0, 0%, 0%, 0.87);
  --header-font-family: "Roboto";
  --main-area-font-family: "Roboto";
  --selection-color: hsla(265, 100%, 47%, 0);
  --main-area-font-size: 0.9em;
}

*::selection {
  background: var(--selection-color);
}

#datepicker-box {
  height: auto;
  width: fit-content;
  // background: var(--datepicker-border-color);
  border: var(--datepicker-border);
  border-radius: var(--datepicker-border-radius);
  box-shadow: var(--datepicker-box-shadow);
  position: relative;
  // padding: var(--datepicker-border-width);

  #header {
    background: var(--header-background);
    padding: var(--header-padding);
    font-family: var(--header-font-family);

    .date-view-controls {
      display: flex;

      .month-year-view {
        datepicker-button {
          --font-size: 1em;
          --font-family: Roboto;
          --font-weight: 500;
          --button-padding: 10px 15px;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      }
    }

    .day-header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 0.8em;
      color: hsla(0, 0%, 0%, 0.38);
    }

    span.flex {
      flex: 1 1 auto;
    }

    .navigation-buttons {
      datepicker-button {
        --datepicker-compact-button-side-length: 2.1em;
      }
    }
  }

  #main-area {
    background: var(--main-area-background);
    padding: var(--main-area-padding);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--main-area-font-family);
    font-size: var(--main-area-font-size);
    // grid-auto-rows: 1fr;

    .date {
      margin: var(--date-view-main-area-padding);
    }

    // &:nth-child(0) {}
  }
}

#divider {
  height: 1px;
  background: #c0c0c0;
}

.date-buttons {
  --font-size: 1em;
  --datepicker-compact-button-side-length: 2.5em;
}
