:host {
  /**
   * @prop --main-area-background: Background of the main area
   */
  --main-area-background: white;

  /**
   * @prop --header-background: Background of the header
   */
  --header-background: white;

  /**
   * @prop --main-area-background: Background of the main area
   */
  --date-view-main-area-padding: 2px;
  --datepicker-width: 300px;
  --header-padding: 0.5em;
  --main-area-padding: 0.3em;
  --datepicker-border-radius: 8px;
  --datepicker-box-shadow: none;
  --datepicker-border: none;
  --theme-color: hsl(265, 100%, 47%);
  --header-font-color: hsla(0, 0%, 0%, 0.87);
  --header-font-family: "Roboto";
  --main-area-font-family: "Roboto";
  --selection-color: hsla(265, 100%, 47%, 0);
  --main-area-font-size: 0.9em;
  --header-font-size: 0.9em;
}

*::selection {
  background: var(--selection-color);
}

#datepicker-box {
  height: auto;
  width: var(--datepicker-width);
  // background: var(--datepicker-border-color);
  border: var(--datepicker-border);
  border-radius: var(--datepicker-border-radius);
  box-shadow: var(--datepicker-box-shadow);
  position: relative;
  // padding: var(--datepicker-border-width);
  transition: 0.1s width;

  #header {
    background: var(--header-background);
    padding: var(--header-padding);
    font-family: var(--header-font-family);
    font-size: var(--header-font-size);

    .date-view-controls {
      display: flex;

      .month-year-view {
        datepicker-button {
          --font-size: 1em;
          --font-family: Roboto;
          --font-weight: 500;
          --button-padding: 6px 9px;
          white-space: nowrap;

          #month-year-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
          #down-icon-container {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .day-header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 0.8em;
      color: hsla(0, 0%, 0%, 0.38);
    }

    span.flex {
      flex: 1 1 auto;
    }

    .navigation-buttons {
      datepicker-button {
        --datepicker-compact-button-side-length: 44px;
      }
    }
  }

  #main-area {
    background: var(--main-area-background);
    padding: var(--main-area-padding);
    font-family: var(--main-area-font-family);
    font-size: var(--main-area-font-size);
    // grid-auto-rows: 1fr;

    & > * {
      display: grid;
      // grid-template-columns: repeat(7, 1fr);
      grid-gap: 0.18em;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: 1s;
    }

    #year-button {
      // margin: var(--date-view-main-area-padding);
      --font-size: var(--font-size);
      --datepicker-button-border-radius: 500px;
      --button-padding: 8px 12px;
    }

    // &:nth-child(0) {}
  }
}

#divider {
  height: 1px;
  background: hsl(0, 0%, 75%);
}

.date-button {
  --font-size: 1em;
  --datepicker-compact-button-side-length: 2.6em;
}
